.container {
  width: 1376px;
  margin-right: auto;
  margin-left: auto;
  padding: 32px;
  color: #fbfbfb;
}

.section {
  background-color: rgba(102, 102, 102, 0.1);
  color: #11101c;
  padding: 90px;
}
