.cardWrap {
    width: 1184px;
    padding: 24px;
    display: flex;
    gap: 24px;
    background-color: #FBFBFB;
    border-radius: 24px;
}

.cardImgWrap {
    box-sizing: border-box;
    width: 120px;
    height: 120px;
    border: 2px solid rgba(16, 57, 49, 0.2);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    position: relative;
}

.profileImg {
    width: 96px; 
    height: 96px;
    border-radius: 15px;
}

.onlineIcon {
    position: absolute;
    top: 9px;
    right: 14px;
}

.upperPartCard {
   display: flex;
   align-items: flex-start;
   justify-content:space-between;
}

.addInfo {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #8a8a89;

    margin-bottom: 27px;
}

.addInfo p {
    margin: 0;
}

.name {
    font-weight: 500;
    font-size: 24px;
    color: #11101c;
    margin: 0;
}

.ratings {
    display: flex;
    align-items: center;
    padding: 0;
    list-style: none;
}

.ratingsEl {
    display: flex;
    gap: 4px;
}

.ratingsElText {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #11101c;
}

.locationIcon,
.starIcon {
    display: flex;
    align-items: center;
}
.message {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(17, 16, 28, 0.5);
    margin: 0;
}

.priceAccent {
    color: #38cd3e;
}

.ratingsEl::before {
    content: '';
    display: block;
    height: 16px;
    width: 1px;
    background-color: rgba(17, 16, 28, 0.2);
    margin: 0 16px; 
  }
  
  .ratingsEl:first-child::before {
    content: none; 
  }
  
  .ratingsEl:last-child::after {
    content: none; 
  } 

.ratings p {
    margin: 0;
}

.heartBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 50px;
    padding: 0;
}

.favorite {
    fill: #0957c3; 
  }

.params {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    list-style: none;
    margin-bottom: 24px;
    padding: 0;
}

.paramsEl {
    border-radius: 24px;
    padding: 8px 16px;
    background-color: #f3f3f3;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #8a8a89;
}

.paramsAccent {
    color: #11101c;
}

.paramsAccentAge {
    color: #11101c;
    text-decoration: underline;
}

.commentWrap {
    margin-top: 48px;
}

.userWrap {
    display: flex;
    gap: 12px;
    margin-bottom: 16px;  
}

.rating {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.reviewer {
    color: rgb(17, 16, 28);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin: 0;
}

.rating .starIcon {
    align-items: center;
    gap: 8px;
}

.ratingsElText {
    margin: 0;
}

.readMoreBtn {
    background-color: transparent;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    padding: 0;
    text-decoration: underline;
    color: #11101c;
    cursor: pointer;
    transition: 0.3s;
}

.iconWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 100px;
    background-color: rgba(16, 57, 49, 0.2);
}

.userInit {
    color: rgb(16, 57, 49);
}

.cardBtn {
    box-sizing: border-box;
    width: 215px;
    padding: 14px 28px;
    border-radius: 30px;
    border: none;
    background-color: rgb(16, 57, 49);
    color: rgb(251, 251, 251);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    /* letter-spacing: -1%; */
    margin-top: 48px;

    cursor: pointer;
    transition: 0.3s;
}

.cardBtn:hover, 
.cardBtn:focus {
    color: rgb(16, 57, 49);
    background-color: rgb(251, 251, 251);
}