.customSelect {
  display: inline-block;
  margin-bottom: 32px;
  width: 226px;
}

.title {
  color: rgb(138, 138, 137);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  margin: 0;
  margin-bottom: 8px;
}

.selectContainer {
  position: relative;
}

.select {
  display: flex; 
  align-items: center; 
  box-sizing: border-box;
  background-color: #103931;
  color: rgb(251, 251, 251);
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  width: 226px;
  padding: 16px 18px 16px 20px;
  border-radius: 14px;
  cursor: pointer;
  position: relative;
}

.select.expanded {
  color: rgb(251, 251, 251);
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  background-color: #103931;
}

.hiddenSelect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.customOptions {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 226px;
  margin-top: 8px;
  background-color: #fff;
  border-radius: 14px;
  overflow: hidden;
  z-index: 1;
}

.customOption {
  padding: 12px 18px;
  font-size: 18px;
  line-height: 20px;
  color: rgba(17, 16, 28, 0.3);
  cursor: pointer;
  transition: color 0.3s;
}

.customOption:hover,
.customOption:focus {
  color: rgb(17, 16, 28);
}

.customSelect:hover .customOptions,
.customSelect:focus .customOptions {
  display: flex;
}

.icon {
  position: absolute;
  top: 50%; 
  right: 20px; 
  transform: translateY(-50%);
}