.header-container {
    padding: 30px 96px 30px 96px;
    border-radius: 30px 30px 0 0;
    /* background-color: #103931; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #fbfbfb66;
}

.header-container a {
    text-decoration: none;
    color: inherit;
}

.logo {
font-family: Helvetica Neue;
font-size: 24px;
font-weight: 500;
line-height: 28px;
letter-spacing: -2%;
text-align: left;
}

.nav {
display: flex;
align-items: center;
gap: 92px;
}
.header-nav-links {
    display: flex;
    gap: 40px;

    color: #fbfbfb;
    font-family: Helvetica Neue;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -1%;
    text-align: left;   
}
.header-buttons{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 8px;
}
.header-login-button {
    color: #fbfbfb;
    font-family: Helvetica Neue;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -1%;
    text-align: left;
    width: 124px;
    padding: 14px 39px;
    box-sizing: border-box;
    border: 1px solid #fbfbfb66;
    border-radius: 30px;
    background-color: transparent;
}
.header-reg-button {
    font-family: Helvetica Neue; 
    color: #fbfbfb; 
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -1%;
    padding: 14px 40px;
    border: none;
    outline: 1px solid red;
    border-radius: 30px;

    background-color: rgb(16, 57, 49);
}