/* .container {
  width: 1376px;
  margin-right: auto;
  margin-left: auto;
  padding: 32px;
  color: #fbfbfb;
}

.backgroundContainer {
  flex-grow: 1;
  background: url('./assets/images/hero_1x.jpeg'), #103931;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center right;
  height: 736px;
  border-radius: 30px;
  position: relative;
} */
