@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./assets/fonts/HelveticaNeueCyr-Roman.ttf') format('truetype'),
  url('./assets/fonts/HelveticaNeueCyr-Medium.ttf') format('truetype'),
  url('./assets/fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
